@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

@layer utilities {
  .bg-clip-hero-image {
    clip-path: polygon(67% 0, 100% 0, 100% 68%, 80% 100%, 0 100%, 32% 51%);
  }

  .shadow-button-primary {
    --tw-shadow: 0px 3px 3px rgba(16, 62, 117, 0.37);
    --tw-shadow-colored: 0px 3px 3px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@layer components {
  .text-head-1 {
    @apply text-[56px] leading-[115%] tracking-[-1.12px] font-semibold lg:text-[80px] lg:leading-[115%] lg:tracking-[-1.6px];
  }

  .text-head-2 {
    @apply text-[32px] leading-[120%] font-semibold lg:text-[56px] lg:leading-[110%];
  }

  .text-head-3 {
    @apply text-[24px] leading-[1.5] font-semibold lg:text-[40px] lg:leading-[120%];
  }

  .text-head-4 {
    @apply text-[18px] leading-[130%] font-semibold lg:text-[24px] lg:leading-[130%];
  }

  .text-head-5 {
    @apply text-[16px] leading-[160%] font-semibold lg:text-[16px] lg:leading-[160%];
  }

  .text-head-6 {
    @apply text-[12px] leading-[1.5] tracking-[1.44px] font-bold lg:text-[16px] lg:leading-[1.5] lg:tracking-[2.56px] uppercase;
  }

  .text-link {
    @apply text-[18px] leading-[23px] font-semibold;
  }

  .text-body-0 {
    @apply text-base lg:text-lg font-semibold leading-[180%];
  }
  .text-body-1 {
    @apply text-sm lg:text-base text-[#164377];
  }
}

/*------------------------------------------------------------------*/
/*---------------------HOME PAGE STYLES-----------------------------*/
.home-hero-section {
  background-position: 0% 0%;
  background-image: radial-gradient(
    134.02% 81.35% at -9.66% 129.92%,
    rgb(0, 233, 234) 0%,
    rgb(31, 128, 240) 52.08%,
    rgb(0, 91, 196) 100%
  );
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
}

.hero-tr-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    190deg,
    #1f80f0 15.05%,
    rgba(31, 128, 240, 0) 30.39%
  );
}

.lg\:bg-clip-hero-container {
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}

@media (min-width: 1280px) {
  .lg\:bg-clip-hero-container {
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
  }
}

.bg-clip-hero-image-mobile {
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}

.bg-cta-style {
  background: radial-gradient(
    62.05% 69.64% at 33.72% -3.27%,
    rgb(0, 233, 234) 0%,
    rgb(31, 128, 240) 52.08%,
    rgb(0, 91, 196) 100%
  );
  clip-path: polygon(0 0, 100% 49%, 100% 100%, 0% 100%);
}

/*---------------------END HOME PAGE STYLES-----------------------------*/

/* Define the keyframes once */
@keyframes motion-translate {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(2px);
  }
  20% {
    transform: translateY(4px);
  }
  30% {
    transform: translateY(6px);
  }
  40% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(8px);
  }
  70% {
    transform: translateY(6px);
  }
  80% {
    transform: translateY(4px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Different durations */
.motion-translate-8s {
  animation: motion-translate 8s ease-in-out infinite;
}

.motion-translate-6s {
  animation: motion-translate 6s ease-in-out infinite;
}

.motion-translate-5s {
  animation: motion-translate 5s ease-in-out infinite;
}
